body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    font-family: 'Sora', sans-serif;
}


.card {
    width: 100%;
    max-width: 420px;
    background: #dcdbdb;
    border: 1px solid black;
    border-radius: 20px;
    padding: 48px 40px 40px;
    
    
}




.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;
    border: 1px black;
}

.logo-icon {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    flex-shrink: 0;
    box-shadow: 0 4px 14px rgba(108,141,250,0.35);
}

.logo-text {
    font-size: 1.35rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: var(--text);
}


h1 {
    font-size: 1.55rem;
    font-weight: 600;
    letter-spacing: -0.03em;
    margin-bottom: 6px;
}

.subtitle {
    font-size: 0.875rem;
    color: var(--muted);
    margin-bottom: 32px;
    font-weight: 300;
}


.field {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--muted);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-family: 'Fira Code', monospace;
    transition: color 0.2s;
}


input[type="text"],
input[type="password"] {
    width: 100%;
    background: white;
    border: 1.5px solid black;
    border-radius: 10px;
    color: var(--text);
    font-family: 'Sora', sans-serif;
    font-size: 0.95rem;
    outline: none;
   

}

input[type="text"]:focus,
input[type="password"]:focus {
    background: #c9c8c8;
}

input::placeholder {
    color: #3d4460;
}


.btn-login {
    width: 100%;
    padding: 14px;
    margin-top: 8px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    color: #b1b1b1;
    font-family: 'Sora', sans-serif;
    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: 0.01em;
    cursor: pointer;
    
}

.btn-login:hover {
     background: #c9c8c8;
    color: black;
}

.btn-login:active {
    filter: brightness(0.72);
    transform: translateY(0px);
}



.divider {
    border: none;
    border-top: 1px solid var(--border);
    margin: 28px 0 20px;
}



.error-msg {
    display: none;
    color: red;
    font-size: 0.85rem;
    margin-bottom: 12px;
}

.error-msg.visible {
    display: block;
}