<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-theme="silk" class="bg-gradient-to-tr from-slate-200 to-amber-50">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudBuds - Time Challenge</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&family=Fira+Code&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/home.css" />
    <link rel="stylesheet" href="/flashcard.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="/quiz.js" defer></script>
    <script src="/theme.js"></script>
  </head>

  <body class="page bg-gradient-to-tr from-slate-200 to-amber-50" 
      data-day-classes="bg-gradient-to-tr from-slate-200 to-amber-50"
      data-night-classes="bg-gradient-to-r from-slate-900 to-slate-700">
    <div class="navbar bg-base-100 shadow-sm sticky top-0 z-50">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                    </svg>
                </div>
                <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/decks">My Flashcard Decks</a></li>
                    <li><a href="/tutorial">Tutorial</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
            <a href="/home" class="btn btn-ghost text-xl logo-text">StudBuds</a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/tutorial">Tutorial</a></li>
            </ul>
        </div>
        <div class="navbar-end">
            <a href="/decks" class="btn mr-2">Return to Decks</a>

            <label class="flex cursor-pointer gap-2 items-center" style="display:flex; align-items:center;">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="5"/><path d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4"/></svg>
              <input type="checkbox" value="night" class="toggle theme-controller" />
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
          </label>

            <a href="/logout" class="btn">Logout</a>
        </div>
    </div>

    <main class="content">
        <p id="progress" class="badge badge-outline badge-primary font-semibold">0 / <span th:text="${totalCards}">0</span></p>

        <progress
          id="progressBar"
          class="progress progress-primary w-full"
          value="0"
          th:max="${numCards}";
        ></progress>

        <div id="flashcard" class="flip-card" th:attr="data-cards=${flashcards}">
          <div class="flip-card-inner" id="inner-card">
            <div id="card-front" class="flip-card-front">
              <p id="questionText">Question</p>
            </div>
          </div>
        </div>

        <br /><br />
        <div class="flex flex-col items-center">
          <label class="input w-full">
            <div class="label">Answer</div>
            <input type="text" id="userAnswer" placeholder="Enter answer here" />
          </label>

          <button id="submitAnswer" class="btn btn-success mt-2 min-w-60">
            Submit Answer
          </button> 
          <button id="skipBtn" class="btn mt-2 min-w-60">Skip</button>

          <div id="result" class="hidden w-full"></div>
         
          <dialog id="final_results" class="modal">
            <div class="modal-box flex flex-col justify-center items-center">
              <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
              </form>
              <h3 class="text-lg font-bold text-center">Results of Quiz</h3>
              <p id="result_text" class="py-4">Results</p>
              <form th:action="@{/decks/{id}/cards(id=${deck.id})}">
                <button class="btn">View this Deck</button>
              </form>
            </div>
          </dialog>
        </div>
      </div>
    </main>
  </body>
</html>
