<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudBuds - Study Mode</title>
    <link rel="stylesheet" href="/shared.css">
    <link rel="stylesheet" href="/flashcard.css">
</head>
<body class="page">

<nav class="navbar">
    <span class="logo-text">StudBuds</span>

    <div style="display:flex; gap:8px;"> 
        <a th:href="@{/decks/{id}/cards(id=${deck.id})}" class="btn-logout">Back to Deck</a> 

        <a href="/decks" class="btn-logout">My Decks</a>
    </div>
</nav>

<main class="content">


    <h2 th:text="'Studying: ' + ${deck.name}">Studying: Deck Name</h2>

    <p id="total">1 / 10</p>


    <!--flip -->

    <div id="flashcard" class="flip-card" th:attr="data-cards=${cards}">
        <div class="flip-card-inner" id="inner-card">
            <div id="card-front" class="flip-card-front">
                <p id="questionText">Question</p>
            </div>

            <div id="card-back" class="flip-card-back">
                <p id="answerText">Answer</p>
            </div>
        </div>
    </div>
    
    <button class="btn-action" id="flip">Flip</button>

    <!-- previous next -->
    <div class="nav-row" style="margin-top:12px;">
        <a class="btn-action" id="previous">Previous</a>

        <a class="btn-action" id="next">Next</a>
    </div>
</main>

<script src="/study.js"></script>

</body>
</html>
