<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-theme="silk" class="bg-gradient-to-tr from-slate-200 to-amber-50">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudBuds - Tutorial</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/flashcard.css">
    <link rel="stylesheet" href="/tutorial.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="page bg-gradient-to-tr from-slate-200 to-amber-50">
    <div class="navbar bg-base-100 shadow-sm sticky top-0 z-50">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                    </svg>
                </div>
                <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/decks">My Flashcard Decks</a></li>
                    <li><a href="/tutorial">Tutorial</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
            <a href="/home" class="btn btn-ghost text-xl logo-text">StudBuds</a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/decks">My Decks</a></li>
            </ul>
        </div>
        <div class="navbar-end">
            <a href="/profile" class="btn mr-2">Return to Profile</a>
            <a href="/logout" class="btn">Logout</a>
        </div>
    </div>

<div>
    <button type = button class="flashcard-tutorial-btn">How do the flashcards work?</button>
    <button type = button class="challenge-tutorial-btn">How does the Time Challenge work?</button>
    <button type = button class="XP-tutorial-btn">How can I gain XP?</button>


    <!---------------------------------- Flashcard Tutorial ----------------------------------------->
    <div class = "tutorial-card-flashcards">
        <div class="slideshow-container" >

            <div class = "tutorial-header-container">

                <header> Flashcard Tutorial</header>

                <div class="numbertext">
                    <span class="current-slide-num">1</span> / 
                    <span class="total-slides-num">x</span>
                </div>

            </div>

        <!-- The Slides -->
            <div class="mySlides fade">
                <div class="text">Begin by naming your first deck and adding it to your collection!</div>
                <br>

                <img class = "tutorialImg" src="tutorial-imgs/deckcreation.png" 
                style="width: 80%">
            </div>

            <div class="mySlides fade">
                <div class="text">Next, create some flashcards by clicking "View Cards."</div>
                <br>

                <img class = "tutorialImg" src="tutorial-imgs/viewcards.png" 
                style="width: 80%">
            </div>

            <div class="mySlides fade">
                <div class="text">Create a flashcard by entering a question with its corresponding answer.</div>
                <br>

                <img class = "tutorialImg" src="tutorial-imgs/createcards.png" 
                style="width: 80%">
            </div>

            <div class="mySlides fade">
                <div class="text">Study your newly created flashcards here!</div>
                <br>

                <img class = "tutorialImg" src="tutorial-imgs/studycards.png" 
                style="width: 80%">
            </div>

            
            <div class="mySlides fade">
                <div class="text">Flip the card to see its answer and click "Next" to study the next card!</div>
                <br>

                <img class = "tutorialImg" src="tutorial-imgs/flipcards.png" 
                style="width: 80%">
            </div>

            <div class="mySlides fade">
                <a href="/decks" class ="decks-btn">Try it out here!</a>
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div class="dot-container">
                <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
                <span class="dot" onclick="currentSlide(6)"></span>
            </div>
        </div>
    </div>

    <!------------------------------ Challenge Tutorial ---------------------------------->
    <div class = "tutorial-card-challenge">
        <div class="slideshow-container">

            <div class = "tutorial-header-container">

                <header> Time Challenge Tutorial</header>

                <div class="numbertext">
                    <span class="current-slide-num">1</span> / 
                    <span class="total-slides-num">x</span>
                </div>

            </div>

        <!-- The Slides -->
            <div class="mySlides fade">
                <div class="text">Try out the Time Challenge using any deck!</div>
                <br>

                <img class = "tutorialImg" src="tutorial-imgs/timechallenge.png" 
                style="width: 80%">
            </div>

            <div class="mySlides fade">
                <div class="text">Answer the questions before your time runs out to earn XP.</div>
                <br>

                <img class = "tutorialImg" src="tutorial-imgs/timechallenge-example.png" 
                style="width: 80%">
            </div>

            <div class="mySlides fade">
                <div class="text">If you get stuck you can exit by clicking "Retry."</div>
                <br>

                <img class = "tutorialImg" src="tutorial-imgs/timechallenge-example2.png" 
                style="width: 80%">
            </div>

            <div class="mySlides fade">
                <a href="/decks" class ="decks-btn">Try it out here!</a>
            </div>
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div class="dot-container">
                <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>
        </div>
    </div>

<!--  --------------------  XP Tutorial  ----------------------------------->
    <div class = "tutorial-card-XP">
        <div class="slideshow-container">

            <div class = "tutorial-header-container">

                <header> XP Tutorial</header>

                <div class="numbertext">
                    <span class="current-slide-num">1</span> / 
                    <span class="total-slides-num">x</span>
                </div>

            </div>

            <div class="mySlides fade">
                <div class="text">You can earn XP by completing flashcard sets.</div>
                <br>

                <img class = "tutorialImg" src="tutorial-imgs/earnXP.png" 
                style="width: 80%">
            </div>

            <div class="mySlides fade">
                <div class="text">You can also earn XP by completing the Time Challenge.</div>
                <br>

                <img class = "tutorialImg" src="tutorial-imgs/timechallenge.png" 
                style="width: 80%">
            </div>

            <div class="mySlides fade">
                <div class="text">Earn an XP multilpier by maintaining a login streak!</div>
                <br>

                <img class = "tutorialImg" src="tutorial-imgs/XP.png" 
                style="width: 80%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>

            <div class="dot-container">
                <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>
    </div>
</div>

    <script src="/tutorial.js"></script>
</body>
</html>