body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    font-family: 'Sora', sans-serif;
}

.card {
    width: 100%;
    max-width: 420px;
    background: #dcdbdb;
    border: 1px solid black;
    border-radius: 20px;
    padding: 48px 40px 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;
}

.logo-text {
    font-size: 1.35rem;
    font-weight: 700;
    letter-spacing: -0.02em;
}

h1 {
    font-size: 1.55rem;
    font-weight: 600;
    letter-spacing: -0.03em;
    margin-bottom: 6px;
}

.subtitle {
    font-size: 0.875rem;
    color: #888;
    margin-bottom: 32px;
    font-weight: 300;
}


.field {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 0.8rem;
    font-weight: 500;
    color: #888;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-family: 'Fira Code', monospace;
    transition: color 0.2s;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    background: white;
    border: 1.5px solid black;
    border-radius: 10px;
    color: #1a1a1a;
    font-family: 'Sora', sans-serif;
    font-size: 0.95rem;
    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background: #c9c8c8;
}

input::placeholder {
    color: #3d4460;
}


.btn-login,
.btn-action {
    width: 100%;
    padding: 14px;
    margin-top: 8px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    color: #b1b1b1;
    font-family: 'Sora', sans-serif;
    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: 0.01em;
    cursor: pointer;
}

.btn-login:hover,
.btn-action:hover {
    background: #c9c8c8;
    color: black;
}

.btn-login:active,
.btn-action:active {
    filter: brightness(0.72);
}

.btn-logout {
    padding: 8px 18px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    color: #b1b1b1;
    font-family: 'Sora', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.btn-logout:hover {
    background: #c9c8c8;
    color: black;
}


.divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 28px 0 20px;
}


#errorMsg {
    display: none;
    color: red;
    font-size: 0.85rem;
    margin-bottom: 12px;
}

#errorMsg.visible {
    display: block;
    color: red;

}


body.page {
    display: block;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    background: #dcdbdb;
    border-bottom: 1px solid black;
}


.page-content {
    max-width: 640px;
    margin: 48px auto;
    padding: 0 24px;
}

.page-content h1 {
    margin-bottom: 8px;
}

.page-content .subtitle {
    margin-bottom: 32px;
}