<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XP Testing</title>
    <link rel="stylesheet" href="/XP_system/style.css">

</head>
<body>
    <button onclick="give_XP(50)" type="button"> give 50 </button>
    <button onclick="give_XP(100)" type="button"> give 100 </button>
    <button onclick="give_XP(500)" type="button"> give 500 </button>
        
<!-- needed elements for xp bar-->
    <!--container-->
    <div class="container">
     <!--bar background-->
        <div class="XpBackground">
            <!--bar that gets longer as xp increases-->
            <div class="XpBackgroundReactive"></div>
        </div>
    <!--the number inside the bar-->
        <div id="myXP">0/100</div>
    <!--level number right-->
        <div id="right">2</div>
    <!--level number left-->
        <div id="left">1</div>
    <!--total xp-->
        <div id="totXP">0</div>

    </div> 
    
    <script src="/XP_system/XP.js"></script>
</body>
</html>